<div class="row">
  <div class="col-12 align-items-center d-flex justify-content-between">
    <div class="text">{{commonService.componentName}}</div>
    <div class="mr-md-5 mr-sm-0">
      <div class="btn-group mr-2" dropdown>
        <!-- <button pRipple id="button-notification" dropdownToggle type="button" class="btn btn-white dropdown-toggle btn-rounded "
                aria-controls="dropdown-notification">
          <span class="bx bx-bell"></span>
        </button>
        <ul id="dropdown-notification" *dropdownMenu class="dropdown-menu mt-1"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
          </li>
        </ul>

      </div> -->
      <div class="btn-group" dropdown>
        <button pRipple id="button-basic" dropdownToggle type="button" class="btn btn-white dropdown-toggle btn-rounded "
                aria-controls="dropdown-basic">
          <span class="bx bx-user-circle"></span>
          <span class="d-none d-md-inline"> {{this.currentUser?.name}}</span>
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu mt-1"
            role="menu" aria-labelledby="button-basic">
          <!-- <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li> -->
          <!-- <li class="divider dropdown-divider"></li> -->
          <li role="menuitem"><a class="dropdown-item" href="#" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
