

<div class="mx-5">
  <div class="table-header">Customer Details</div>
  <div class="card mt-4">
    <div class="card-body">
      <div class="col-sm-12">
        <div class="row" *ngIf="reviewdetails">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-6">
                <label><small>Customer Name</small></label
                ><br />

                <p>{{ reviewdetails.customer?.name }}</p>
              </div>
              <div class="col-sm-6">
                <label><small>Email Id</small></label
                ><br />
                <p>{{ reviewdetails.customer?.email }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <label><small>Product Name</small></label
                ><br />
                <p>{{ reviewdetails.product?.product_name }}</p>
              </div>
              <div class="col-sm-6">
                <label><small>Rating</small></label
                ><br />
                <p>{{ reviewdetails?.rating }} Star</p>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <label><small>Review</small></label
                ><br />
                <p>{{ reviewdetails?.review }} Star</p>
              </div>
              <div class="col-sm-6">
                <label><small>Image</small></label
                ><br />
                <img
                  style="max-width: 200px"
                  (click)="show(reviewdetails.image)"
                  id="image"
                  src="{{ commonService.baseUrl }}{{ reviewdetails?.image }}"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <label><small>Date Of Review</small></label
                ><br />
                <p>{{ reviewdetails.product?.updated_at }}</p>
              </div>
              <div class="col-sm-6">
                <label><small>Acceptance Status</small></label>
                <br />
                <p *ngIf="reviewdetails?.is_accepted == 0">Not Accepted</p>
                <p *ngIf="reviewdetails?.is_accepted == 1">Accepted</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mx-2" *ngIf="!data">
          <div class="d-flex justify-content-center">
            <p>No Data Available</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
