<div class="sidebar" [ngClass]="sidebar()">
  <div class="logo-details">
    <img
      src="/assets/images/logo.png"
      class="logo-img"
      (click)="onClickOpen()"
      alt=""
    />
    <div class="logo_name">Intallicool Kidz</div>

    <i
      *ngIf="this.isButtonVisible"
      class="menu-button bx bx-menu"
      id="btn"
      (click)="onClickOpen(); this.isButtonVisible = false"
    ></i>
  </div>
  <metis-menu class="nav-list" toggle="true">
    <li>
      <a routerLink="/dashboard">
        <i class="fa fa-tachometer"></i>
        <span class="links_name">Dashboard</span>
      </a>

      <span class="tooltip">Dashboard</span>
    </li>
    <li *ngIf="isAdmin">
      <a href="#" class="has-arrow" (click)="onItemClick()">
        <i class="fa fa-image"></i>
        <span class="links_name"> Banner</span>
      </a>
      <span class="tooltip">Banner</span>
      <ul class="sub-element ml-4">
        <li>
          <a [routerLink]="['metadata', 'slideshow']">
            <i class="bx bx-slideshow"></i>
            <span class="links_name">Slideshow</span></a
          >
        </li>
        <li>
          <a [routerLink]="['metadata', 'divider-banner']">
            <i class="bx bx-image"></i>
            <span class="links_name">Divider Banner</span></a
          >
        </li>
      </ul>
    </li>
    <li *ngIf="isAdmin">
      <a href="#" class="has-arrow" (click)="onItemClick()">
        <i class="fa fa-database"></i>
        <span class="links_name"> Metadata</span>
      </a>
      <span class="tooltip">Metadata</span>
      <ul class="sub-element ml-4">
        <li>
          <a [routerLink]="['metadata', 'pincode']">
            <i class="bx bx-current-location"></i>
            <span class="links_name">Pincode </span></a
          >
        </li>

        <!-- <li>
          <a [routerLink]="['metadata', 'wishlist']">
            <i class="bx bx-heart"></i>
            <span class="links_name">Wishlist </span></a
          >
        </li> -->
      </ul>
    </li>
    <li *ngIf="isAdmin">
      <a href="#" class="has-arrow" (click)="onItemClick()">
        <i class="fa fa-product-hunt"></i>
        <span class="links_name"> Inventory</span>
      </a>
      <span class="tooltip">Products</span>
      <ul class="sub-element ml-4">
        <li>
          <a [routerLink]="['metadata', 'category']">
            <i class="bx bx-category"></i>
            <span class="links_name">Category</span>
          </a>
        </li>

        <li>
          <a [routerLink]="['metadata', 'product']">
            <i class="bx bx-box"></i>
            <span class="links_name">Product</span></a
          >
        </li>

        <li>
          <a [routerLink]="['metadata', 'coupon-code']">
            <i class="bx bx-gift"></i>
            <span class="links_name">Coupon Code </span></a
          >
        </li>

        <li>
          <a [routerLink]="['metadata', 'product_review']">
            <i class="bx bx-chat"></i>
            <span class="links_name">Product Review </span></a
          >
        </li>
      </ul>
    </li>
    <li *ngIf="isAdmin">
      <a href="#" class="has-arrow" (click)="onItemClick()">
        <i class="bx bx-cart"></i>
        <span class="links_name">Order</span>
      </a>
      <span class="tooltip">Dashboard</span>
      <ul class="sub-element ml-4">
        <li>
          <a [routerLink]="['metadata', 'orders']">
            <i class="bx bx-shopping-bag"></i>
            <span class="links_name">Orders</span></a
          >
        </li>
      </ul>
    </li>

    <li *ngIf="isAdmin">
      <a href="#" class="has-arrow" (click)="onItemClick()">
        <i class="bx bx-user"></i>
        <span class="links_name">Customer</span>
      </a>
      <span class="tooltip">Dashboard</span>
      <ul class="sub-element ml-4">
        <li>
          <a [routerLink]="['customer']">
            <i class="bx bx-user"></i>
            <span class="links_name">View Customer</span></a
          >
        </li>
      </ul>
    </li>
    <li *ngIf="isAdmin">
      <a href="#" class="has-arrow" (click)="onItemClick()">
        <i class="fa fa-truck"></i>
        <span class="links_name">Deliveries</span>
      </a>
      <span class="tooltip">Dashboard</span>
      <ul class="sub-element ml-4">
        <li>
          <a [routerLink]="['metadata', 'all_deliveries']">
            <i class="fa fa-truck"></i>
            <span class="links_name">All Deliveries</span></a
          >
        </li>
      </ul>
    </li>
  </metis-menu>
</div>
