<div class="mx-5">
  <div class="row">
    <div class="col-12 align-items-center d-flex justify-content-between">
      <div class="mr-md-5 mr-sm-0">
        <div class="btn-group mr-2" dropdown>
          <select (change)="onTableSizeChange($event)" class="custom-select items-per-page-dropdown">
            <option *ngFor="let size of tableSizes">
              {{ size }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="card">

    <div class="card-body">
      <div class="row mx-2" *ngIf="listTomDeliveries?.length>0">
        <table class="table table-borderless">
          <thead>
          <tr>
            <th>ID</th>
            <th>Channel Partner Name</th>
            <th>Customer Name</th>
            <th>Customer Mobile No.</th>
            <th>Address</th>
            <th>Item Name</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let post of listTomDeliveries | paginate : {
                    itemsPerPage: tableSize,
                    currentPage: currentPage+1,
                    totalItems: totalCount
                  };
            let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{post['vendor_details']['name'] | titlecase}}</td>
            <td>{{post['user_details']['name'] }}</td>
            <td *ngIf="post.user_details.mobile_number">{{post['user_details']['mobile_number'] }}</td>
            <td *ngIf="!post.user_details.mobile_number">NA</td>
            <td>{{post['address_details']['address_line_1']+","+
            post['address_details']['address_line_2'] +","+
            post['address_details']['city']  +","+
            post['address_details']['pincode'] }}</td>
            <td *ngIf="post.item_details">{{post['item_details']['product_details']['product_name'] }}</td>
            <td *ngIf="!post.item_details">NA</td>
          </tr>
          </tbody>
        </table>
      </div>
      <hr>
      <div class="row mx-2" *ngIf="listTomDeliveries?.length > 0">
        <div class="d-flex justify-content-center">
          <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onTableDataChange($event)">
          </pagination-controls>
        </div>
      </div>
      <div class="row mx-2" *ngIf="listTomDeliveries?.length == 0">
        <div class="d-flex justify-content-center">
          <p>No Deliveries Available</p>
        </div>
      </div>
    </div>
  </div>
</div>
